extends layout.pug

block nav
  .home
    a.link(href='/' target="_blank") New Document
  .about.selected
    a.link(href='/about' target="_blank") About
  .team
    a.link(href='https://conclave-team.github.io/conclave-site/team/' target="_blank") Our Team
  .github
    a.link(href='https://github.com/conclave-team/conclave' target="_blank") GitHub
block link
  p.disappear Sharing Link:
    a.link(id='myLink' target="_blank")

block scripts
  script(src='js/demo-bundle.js')
