extends layout.pug

block nav
  .start
    a.link(href='/') New Document
  .case-study
    a.link(href='https://conclave-team.github.io/conclave-site/' target="_blank") Case Study
  .team
    a.link(href='https://conclave-team.github.io/conclave-site/team/' target="_blank") Our Team
  .github
    a.link(href='https://github.com/conclave-team/conclave' target="_blank") Fork on GitHub
block link
  p.sharing-link.disappear
    a.link(id='myLink' target="_blank") Sharing Link
    span(id="myLinkInput" class="aside disappear")
    span(class="copy-container" data-tooltip="Copy to Clipboard")
      i(data-feather="copy" class="copy-link" color="rgb(17, 117, 232)")
    span(class="copy-status") Copied!

block scripts
  script(src='js/demo-bundle.js')
