extends layout.pug

block nav
  .start
    a.link(href='/') New Document
  .case-study
    a.link(href='https://conclave-team.github.io/conclave-site/' target="_blank") Case Study
  .team
    a.link(href='https://conclave-team.github.io/conclave-site/team/' target="_blank") Our Team
  .github
    a.link(href='https://github.com/conclave-team/conclave' target="_blank") Fork on GitHub
block link
  p.disappear Sharing Link:
    a.link(id='myLink' target="_blank")

block scripts
  script(src='js/demo-bundle.js')
