doctype html
html(lang="en")
  head
    title='Linear Array versus Array-of-Arrays CRDT Performance'
    script(src="https://cdn.plot.ly/plotly-latest.min.js")
  body
    div(id='g0')
    div(id='g1')
    div(id='g2')
    div(id='g3')
    script(src='js/arraysGraph-bundle.js')
