extends layout.pug

block header
  p.disappear(id='newRoot') The host has left the room. Do NOT refresh your page! Follow this link instead.
  a.disappear(id='newLink') placeholder

block footer
  p.disappear Sharing Link:
    a(id='myLink')
  script(src='js/demo-bundle.js')
