doctype html
html(lang="en")
  head
    title='Conclave'
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    link(rel='stylesheet' href='css/style.css')
  body
    p(id='newRoot') The host has left the room. Do NOT refresh your page! Follow this link instead.
    a(id='newLink') placeholder
    h1 Conclave
    button(type='button' id='show-text') Show All Text
    #wrapper.hide
      textarea(row='10' col='20')
    p.disappear Sharing Link:
      a(id='myLink')
    p(id='peerId') Connected peers:
    script(src='js/demo-bundle.js')
