extends layout.pug

block header
  p.disappear(id='newRoot') The user you originally connected to has left the network.
  p.disappear(id='newRoot2') Don't panic, you're being reconnected.
  p.disappear(id='newRoot3') For immediate reconnection, follow this link:
  a.disappear(id='newLink') placeholder
  
block link
  p.disappear Sharing Link:
    a(id='myLink' target="_blank")

block footer
  script(src='js/demo-bundle.js')
