extends layout.pug

block header
  p(id='newRoot') The user you originally connected to has left the network.
  p(id='newRoot2') Don't panic, you're being reconnected.
  p(id='newRoot3') For immediate reconnection, follow this link:
  a(id='newLink') placeholder

block link
  p Sharing Link:
    a(id='myLink' target="_blank")

block footer
  script(src='js/bundle.js')
