extends layout.pug

block nav
  .home.selected
    a.link(href='/') New Document
  .about
    a.link(href='/about') About
  .team
    a.link(href='https://super-nes.github.io/conclave-site/team/' target="_blank") Our Team
  .github
    a.link(href='https://github.com/Super-NES/conclave' target="_blank") GitHub

block link
  p Sharing Link:
    a.link(id='myLink' target="_blank")

block scripts
  script(src='js/bundle.js')
