extends layout.pug

block nav
  .about
    a.link(href='/about' target="_blank") What is Conclave?
  .case-study
    a.link(href='https://conclave-team.github.io/conclave-site/' target="_blank") Case Study
  .team
    a.link(href='https://conclave-team.github.io/conclave-site/team/' target="_blank") Our Team
  .github
    a.link(href='https://github.com/conclave-team/conclave' target="_blank") Fork on GitHub

block link
  p Sharing Link:
    a.link(id='myLink' target="_blank")

block scripts
  script(src='js/bundle.js')
