extends layout.pug

block header
  p(id='newRoot') Do NOT refresh your page! You will leave the network if you do.
  p(id='newRoot2') Follow this link instead.
  a(id='newLink') placeholder

block footer
  script(src='js/bundle.js')
