doctype html
html(lang="en")
  head
    title='Conclave'
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    link(rel='stylesheet' href='css/style.css')
  body
    h1 Conclave
    textarea(row='10' col='20')
    p Sharing Link: 
      a(id='myLink')
    p(id='peerId') Connected peers:
    script.
      const peerId = '!{id}';
      const host = '!{host}';
    script(src='js/bundle.js')
    
