doctype html
html(lang="en")
  head
    title='Conclave'
    link(rel='stylesheet' href='css/style.css')
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
  body
    h1 Hello World
    .write-text
      h3 Editor One
      textarea(row='10' col='20' id='edit-1')
    script(src='js/bundle.js')
