extends layout.pug

block nav
  .home.selected
    a.link(href='/') Home
  .about
    a.link(href='/about') About
  .team
    a.link(href='https://super-nes.github.io/conclave-site/team/' target="_blank") Our Team

block link
  p Sharing Link:
    a.link(id='myLink' target="_blank")

block scripts
  script(src='js/bundle.js')
