extends layout.pug

block nav
  .home.selected
    a(href='/') Home
  .about
    a(href='/about') About

block link
  p Sharing Link:
    a(id='myLink' target="_blank")

block scripts
  script(src='js/bundle.js')
