extends layout.pug

block nav
  .home
    a.link(href='/' target="_blank") New Document
  .about
    a.link(href='/about' target="_blank") About
  .team
    a.link(href='https://super-nes.github.io/conclave-site/team/' target="_blank") Our Team
  .github
    a.link(href='https://github.com/Super-NES/conclave' target="_blank") GitHub

block link
  p Sharing Link:
    a.link(id='myLink' target="_blank")

block scripts
  script(src='js/bundle.js')
