doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    link(rel='stylesheet' href='css/style.css')
  body
    block header

    h1= title

    block editor
