doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    link(rel='stylesheet' href='css/style.css')
  body
    .navbar
      h1.logo Conclave
      .nav-items
        block nav
    #conclave.hide
      .text-wrapper
        p#peerId Peers:
        .editor
          .header
            p#ownName You are the
            button#download(type='button') Save
            label#upload(for='file') Upload
            input#file(type='file' accept='.txt, .js, .rb, .md')
          textarea(row='10' col='20')
          block link
      .video-modal.hide
        .video-bar
            i(data-feather="minus" class="minimize")
            i(data-feather='x' class="exit")
        video

    script(src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")
    script.
      feather.replace({ color: 'white', 'stroke-width': 3 });
    block scripts
