doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    link(rel='stylesheet' href='css/style.css')
  body
    block header

    h1= title
    #conclave.hide
      .header
        p(id='ownName') You are the
        button(type='button' id='download') Save
        label(for='file' id='upload') Upload Document
        input(type='file' id='file' accept='.txt, .js, .rb, .md')

      .text-wrapper
        p(id='peerId') Connected peers:
        textarea(row='10' col='20')
      video

    block footer
