doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    link(rel='stylesheet' href='css/style.css')
  body
    h1= title

    block header

    #conclave.hide

      .text-wrapper
        p(id='peerId') Peers:
        .editor
          .header
            p(id='ownName') You are the
            button(type='button' id='download') Save
            label(for='file' id='upload') Upload
            input(type='file' id='file' accept='.txt, .js, .rb, .md')
          textarea(row='10' col='20')
          p Sharing Link:
            a(id='myLink' target="_blank")
      video

    block footer
