doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' href='assets/img/conclave-mask-small.ico' type='image/x-icon')
  body
    .navbar
      a(href='/' target="_blank")
        h1.logo Conclave
      .nav-items
        block nav
    p#safari Your browser does not support WebRTC.</br></br>Please use Chrome or Firefox.
    #conclave.hide
      .text-wrapper
        .editor
          .header
            p#ownName You are the
            button#download(type='button') Save
            label#upload(for='file') Upload
            input#file(type='file' accept='.txt, .js, .rb, .md')
          textarea(row='10' col='20')
          block link
        p#peerId Peers:
      .video-modal.hide
        .video-bar
            i(data-feather="minus" class="minimize")
            i(data-feather='x' class="exit")
        video

    script(src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")
    script.
      feather.replace({ 'stroke-width': 3 });
    block scripts
