/****************
Fonts
****************/

@font-face {
  font-family: "InputLight";
  src: url('../assets/fonts/InputSans-Light.ttf');
}

@font-face {
  font-family: "InputMedium";
  src: url('../assets/fonts/InputSans-Medium.ttf');
}

/****************
animations
****************/

@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}

.connecting {
  animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

/****************
General
****************/

body {
  font-family: "InputLight";
  margin: 0;
  padding: 40px;
}

h1 {
  margin: 0;
  padding-bottom: 20px;
  font-family: "InputMedium";
  margin-bottom: 0;
}

p {
  font-size: 14px;
}

.hide * {
  visibility: hidden;
}

.disappear {
  display: none;
}

/****************
Editor
****************/

#conclave {
  width: 100%;
  margin: 0 auto;
}

.header {
  overflow: hidden;
  max-width: 1265px;
  width: 100%;
  margin-right: 100px;
  padding-right: 65px;
  box-sizing: border-box;
}

.text-wrapper {
  display: flex;
  flex-direction: row-reverse;
  min-width: 600px;
  justify-content: space-between;
}

textarea {
  width: 100%;
  height: 200px;
}

#ownName {
  float: left;
}

#ownName span {
  padding: 2px;
  margin-left: 8px;
}

#peerId {
  margin-left: 10px;
  flex-grow: 1;
}

#peerId li {
  list-style-type: none;
  margin: 3px 3px 0;
}

label, button {
  float: right;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid rgb(17, 117, 232);
  margin: 0 0 10px 10px;
  font-family: "InputLight";
  font-size: 12px;
  line-height: 32px;
  color: rgb(17, 117, 232);
  cursor: pointer;
}

#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

button:hover {
  cursor: pointer;
}

li span:hover {
  cursor: pointer;
}


#newRoot, #newRoot2, #newLink {
  margin: 5px auto;
  text-align: center;
  font-size: 12px;
  display: block;
  visibility: hidden;
}

/****************
Video
****************/

video {
  width: 25%;
  height: auto;
  float: right;
  margin-right: 10%;
  visibility: hidden;
  border-bottom: 13px solid;
  border-right: 13px solid;
  border-radius: 6px;
}

video:hover {
  cursor: pointer;
}

/********************
CodeMirror
********************/

.CodeMirror {
  font-family: 'InputLight';
  border-radius: 8px;
  line-height: 1.5em;
  border: none;
  box-shadow: 0 2px 20px -2px rgba(17, 117, 232, 0.15);
  clear: both;
  padding: 0;
  height: 400px;
  width: 100%;
  min-width: 500px;
  max-width: 1200px;
}

.CodeMirror-focused {
  box-shadow: 0 2px 20px -2px rgba(17, 117, 232, 0.3);
}

.CodeMirror-scroll {
  padding: 10px;
}

/********************
Cursors
********************/

.remote-cursor {
  width: 2px;
  position: absolute;
  top: 0px;
}

.flag {
  top: -10px;
  font-size: 12px;
  left: 0px;
  position: absolute;
  line-height: 15px;
}
