@font-face {
  font-family: "InputLight";
  src: url('../assets/fonts/InputSans-Light.ttf');
}

@font-face {
  font-family: "InputMedium";
  src: url('../assets/fonts/InputSans-Medium.ttf');
}

body {
  font-family: "InputLight";
  margin: 0;
  padding: 40px;
}

h1 {
  margin: 0;
  padding-bottom: 20px;
  font-family: "InputMedium";
  margin-bottom: 0;
}

button, input {
  float: right;
  padding: 5px;
  border-radius: 5px;
  margin: 0 0 10px 10px;
  font-family: "InputLight";
}

input {
  width: 175px;
}

button:hover {
  cursor: pointer;
}

p {
  font-size: 14px;
}

#newRoot, #newLink {
  margin: 5px auto;
  text-align: center;
  font-size: 12px;
  display: block;
  visibility: hidden;
}

textarea {
  width: 100%;
  height: 200px;
}

span:hover {
  cursor: pointer;
}

video {
  width: 25%;
  height: auto;
  float: right;
  margin-right: 10%;
  visibility: hidden;
  border-bottom: 13px solid;
  border-right: 13px solid;
  border-radius: 6px;
}

video:hover {
  cursor: pointer;
}

.CodeMirror {
  font-family: 'InputLight';
  border-radius: 8px;
  line-height: 1.5em;
  border: none;
  box-shadow: 0 2px 20px -2px rgba(17, 117, 232, 0.15);
  clear: right;
  padding: 0;
}

.CodeMirror-focused {
  box-shadow: 0 2px 20px -2px rgba(17, 117, 232, 0.3);
}

.CodeMirror-scroll {
  padding: 10px;
}

.remote-cursor {
  width: 2px;
  position: absolute;
  top: 0px;
}

.flag {
  top: -10px;
  font-size: 12px;
  left: 0px;
  position: absolute;
  line-height: 15px;
}

.hide * {
  visibility: hidden;
}
